// 颜色
$red:    #fb6f6f       !default;
$yellow: #f8d200       !default;
$blue:   #7098fc       !default;
$green:  #60d255       !default;
$black:  #000000       !default;
$white:  #ffffff       !default;

$text-dark:   #333333   !default;
$text-normal: #808080   !default;
$text-light:  #cccccc   !default;

$color-bg:      #f7f7f7                  !default;
$color-divider: #ddd                  !default;
$color-padding: #d9d9d9                  !default;